*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.hero{
    width: 100%;
    height: 100vh;
    background-color: rgba(12,3,51,0.3);
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo{
    width: 200px;
    height: 100px;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 17px;
}

.content{
    text-align: center;
}
.content h1{
    font-size: 90px;
    color: #fff;
    font-weight: 600;
    transition: 0.5s;
}
.content h1:hover{
    -webkit-text-stroke: 2px #fff;
    color: transparent;
}
.content a{
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 24px;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
}

.back-image{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}



section{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url(images/studyimage1.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    padding: 20px;
    
}

.blink{
    animation: blink 3.5s linear infinite;
    color: black;
}
@keyframes blink{
    50%{
        opacity: 0;
    }
}
.blink1{
    animation: blink 3s linear infinite;
    color: beige;
}
@keyframes blink1{
    50%{
        opacity: 0;
    }
}
.blink2{
    animation: blink 6s linear infinite;
    color: beige;
}
@keyframes blink2{
    50%{
        opacity: 0;
    }
}
.blink3{
    animation: blink 9s linear infinite;
    color: beige;
}
@keyframes blink3{
    50%{
        opacity: 0;
    }
}
.blink4{
    animation: blink 12s linear infinite;
    color: beige;
}
@keyframes blink4{
    50%{
        opacity: 0;
    }
}
.blink5{
    animation: blink 15s linear infinite;
    color: beige;
}
@keyframes blink5{
    50%{
        opacity: 0;
    }
}