.HeadLine{
    background-color: darkslategrey;
}

.nav{
    background: rgb(67, 60, 60);
    margin-left: -18px;
    overflow: hidden;
}
.nav a{
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
    color:black;
    font-size: 1.7em;
    display:block;
    float: left;
}
.nav a:hover{
    background: rgb(189, 45, 45);
    color:rgb(0, 0, 0);
}
